.card-header, .card-desc{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    word-wrap:break-word;
    word-break:break-all;
}